# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/
lib/
bin/

# pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# Pylint
.pylint.d/

# Coverage reports
.coverage
.coverage.*
*.cover
*.py,cover
nosetests.xml
coverage.xml

# dotenv
.env
.env.*

# Virtual environment tools
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
*.eggs
*.pyc

# Logs
*.log
